/*
Theme Name: Google_S
Theme URI: http://www.blog.altertech.it/google_s-wordpress-starter-theme-based-google-web-starter-kit/
Author: Bigbabert
Author URI: http://www.blog.altertech.it/author/alberto-cocchiara/
Description: New Wordpress multipropose starter theme based on Google Web Starter Kit and Underscores & Bootstrap 3.0. Google_S is tested up to Wordpress 4.1 and Woocommerce 2.2.10.
Version: 1.4.2
Template:         google_s
Template Version: 1.4.2
GitHub Theme URI: https://github.com/bigbabert/google_s
GitHub Branch:    master
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: google_s
Tags: blue, white, light, two-columns, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Google_S is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc. and
also on Google Web Starter Kit https://developers.google.com/web/starter-kit/, Google 

Resetting and rebuilding styles have been helped along thanks to the fine work of
Google Web Starter Kit and Bootstrap 3.0 mixed by Bigbabert
*/
/*--------------------------------------------------------------
1.0 Media
--------------------------------------------------------------*/

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
1.2 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
1.2 Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}
.sticky {
	display: block;
}
.bypostauthor {
	display: block;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
.gallery {
				margin: auto;
                                margin-bottom: 108%;
			}
			.gallery .gallery-item {
				float: left;
				margin-top: 10px;
				text-align: center;
				width: 33%;
			}
			.gallery img {
				border: 2px solid #cfcfcf;
			}
			.gallery .gallery-caption {
				margin-left: 0;
			}
                        img.attachment-thumbnail {
                            width: 200px;
                            height: auto;
                        }
/*--------------------------------------------------------------
1.3 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right !important;
	margin-left: 1.5em;
}
.pull-right {
float: right !important;
}
.pull-left {
float: left !important;
}
.aligncenter {
	clear: both;
	display: block !important;
	margin: 0 auto;
}
.featured-image-borded, .size-large {
float: left;
padding: 0px;
margin: 3%;
border: 2px solid #ccc
}
/*--------------------------------------------------------------
1.4 Clearings
--------------------------------------------------------------*/
a.white {
    color: white !important;
    text-decoration: none !important;
}
a.logo,a , a.logo:hover, a:hover, a.logo:active, a:active, a.logo:focus, a:focus {
    text-decoration: none !important;
    text-transform: none !important;
    }
.logo legend {
font-size: 0.8em;
line-height: 12px;
margin-bottom: 10%;
margin-top: -10px;
}
.app-bar-actions {
margin-top: 5%;
}
.logo img {
max-height: 140px !important;
max-width: 380px !important;
}
span.post-meta-key {
display: none !important;
}
#submit {
	display:inline-block;
	padding:12px 32px;
	margin-bottom:13px;
	margin-top:13px;
	min-height:26px;
	text-align:center;
	font-family:"Roboto Condensed",Helvetica,sans-serif;
	font-weight:600;
	text-decoration:none;outline:0;
	-webkit-transition:none;
	transition:none;
}
#submit:hover {
	background:#4d4d4d;
	color:#fff;
	border:1px solid #4d4d4d;
	text-decoration:none;
	}
	#submit {
		background:#4285f4;
		color:#fff;
		border:1px solid #1266f1; 
	}
        button#searchsubmit {
background: transparent;
border: none;
        }
        input#s.search {
            line-height: 35px;
        }
       #searchsubmit img {
            width: 70px !important;
            height: auto;
        }
.nav-links {
margin-top:5% !important;
display:inline-block;
}
.quote__content p {
font-weight: 600 !important;
margin-top: -12px !important;
font-size: 26px !important;
}
#nosidebar .sidebar, .page-template-page-full-php .sidebar {
display: none !important;
}
.sidebar {
float: right !important;
background-color:#89c4e2;
padding: 1%;
padding-top: 4%;
padding-left: 3%;
}
.sidebar input#s.medium {
width: 50%;
}
.sidebar input#searchsubmit.button--secondary {
width: 25%;
padding: 3.4%;
margin-left: 1%;    
}
h1.widget-title {
font-size: 36px;
margin-bottom:22px;
}
aside.widget {
    padding-bottom: 22px;
border-bottom: 1px solid #ccc;
}
.widget ul li, .widget ul li::before {
list-style: none !important;
list-style-type: none !important;
font-size: 18px !important;
font-family:'Roboto Condensed','Helvetica','Arial',sans-serif !important;
}
.widget_nav_menu li a::before {
    font-family:"icons";
    font-size:16px;
    display:block;
    font-weight:600;
    position:absolute;
    top:12%;
    left:0;
    line-height:26px;
    content:"\e005";
    color: #3372df;
}
 .widget_nav_menu li a{
    font-weight:600;
    font-family:"Roboto Condensed",Helvetica,sans-serif;
    padding:3%;
    color: #fff;
    text-transform: uppercase;
    text-decoration:none;
}
.navdrawer-container ul li a {
    margin-right: -20px;
}
.navdrawer-container ul li::before, .navdrawer-container ul li a {
    font-family:"Roboto Condensed",Helvetica,sans-serif !important;
}
.menu-item-has-children a {
    margin-right: 32% !important;
    text-align: left !important;
    padding-right:30px !important;
width: 100%;
padding: 5%;
}
.sub-menu li a::before {
    font-family:"Roboto Condensed",Helvetica,sans-serif;
    text-decoration:none;
    content:"";
}
.menu-item-has-children a::before  {
font-family:"icons";
font-size:18px;
display:block;
font-weight:600;
position:absolute;
top:0;
right:0;
line-height:60px;
content:"\e002";
color: white;
}
h1.tag.editorial-header__title {
width: 100%;
}
.editorial-header__subtitle a, .editorial-header__subtitle a:hover, .editorial-header__subtitle a:focus, .editorial-header__subtitle a:visited, .posted-on a:hover, .posted-on i.icon.icon-user-input, .posted-on i.icon.icon-user-input:hover, .posted-on i.icon.icon-user-input:focus, .posted-on i.icon.icon-user-input:visited, .posted-on i.icon.icon-user-input:active, .posted-on a:focus, .posted-on a:active, .posted-on a:visited {
color: #06e;
}
.tag::before {
content: "" !important;
}
.posted-on time.entry-date.published:hover, .posted-on time.updated, .posted-on time.updated:hover, .posted-on time.updated:focus, .posted-on time.updated:visited, .posted-on time.updated:active, .posted-on time.entry-date.published, .posted-on time.entry-date.published:focus, .posted-on time.entry-date.published:visited, .posted-on time.entry-date.published:active {
color: #001114 !important;
}
.posted-on span.icon-circle.themed--background {
background: #297ea9;
display: inline;
margin-right: 2%;
position: relative;
top: -5px;
}
.posted-on .icon-circle {
padding: 12px !important
}
.posted-on .icon-circle i {
font-size: 16px !important;
}
.posted-on i.icon.icon-lessons, .posted-on i.icon.icon-user-input {
margin-left:7px;
margin-right: 3px;
}
.posted-on i.icon.icon-menu {
margin-top: 3px;
margin-left:7px;
margin-right: 3px;
}
 h3.sd-title {
 font-size: 22px !important;
 }
 .sd-content ul li a.sd-button::before {
 font: 400 32px/1 Genericons !important;
 }
.nav-next a, .nav-previous a {
display: block;
padding: 5%;
background-color: #89c4e2;
font-size: 18px;
text-align: center;
font-family: "Roboto Condensed",Helvetica,sans-serif;
font-weight: 600;
color: whitesmoke;
width: 250px;
max-width: 400px;
height: 50px;
line-height: 30px;
max-height: 50px;
overflow:hidden;
}
h1.screen-reader-text {
font-size: 32px;
}
.nav-next a:hover, .nav-previous a:hover {
background-color: #4d4d4d;
color: white;
}
.paging-navigation h1.screen-reader-text {
 display: none;
}
.paging-navigation div.nav-links {
width: 100%;
margin-top: 2%;
}
.paging-navigation div.nav-previous {
 margin-left: 4%;   
}
.paging-navigation div.nav-next {
 margin-right: 8%;
}
textarea#comment {
max-width: 800px;
width: 600px;
}
.site-info a, .site-info a:hover, .site-info a:visited, .site-info a:focus {
color: white;
}
.site-info {
background-color: #4285f4;
color:white;
font-weight: bold;
text-align: center;
line-height: 1.3em !important;
padding-top: 0.6em !important;
letter-spacing: 1px;
height: 60px;
display: block;
}
.feature-spotlight {
padding-top: 30px;
border-top: 1px solid #ccc;
}
/*--------------------------------------------------------------
1.5 Tablet Media Query
--------------------------------------------------------------*/
@media screen and (max-device-width: 966px){
    .app-bar .logo {
    font-size: 28px !important;
    line-height: 30px !important;
    }
    .app-bar-actions {
        margin-top: 4px;
    }
    .logo legend {
    margin-top: 10px;
    }
}
/*--------------------------------------------------------------
1.5 Phone Media Query
--------------------------------------------------------------*/
@media screen and (max-device-width: 480px){
    .app-bar-actions input#s.search {
    width: 60px;
    }
    .app-bar .logo {
    font-size: 28px !important;
    line-height: 30px !important;
    }
    .logo img {
    max-height: 60px !important;
    }
    .app-bar-actions {
        margin-top: 4px;
    }
    .logo legend {
    display: none;
    }
    .sidebar {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    textarea#comment {
max-width: 480px;
width: 470px;
}
    ul.sub-menu {
    display: inline-block !important;    
    }
}